#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  /* height: 6em; */
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */



.read-the-docs {
  color: #888;
}

.dashboard {
  justify-content: center;
}

.header {
  height: 80px;
  width: 100%;
  /* background-color: rgb(149, 151, 255); */
  background: linear-gradient(to bottom, #2f9eff, #fffbfb);
  background: linear-gradient(to bottom, #91cbff, #fffbfb);

  top: 0;
  display: flex;
  align-items: center;
  position:sticky;
}

.logo {
  width:200px;
  height: 65%;
  margin-left: 40px;
}


.user {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.userName {
  margin-right: 30px;
  font-size: larger;
  color: black;
}

.footer {
  width: 60%;
  height: 80px;
  border-radius: 30px 30px 0 0;
  margin-bottom: 0;
  background-color: #0081F4;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin:  auto;
  position: fixed;
}

.footer_icon {
  margin: 0 5%;
  cursor: pointer;
  width: 100px;
  /* padding: 5px; */
  border-radius: 10px;
}

.footer_icon:hover {
  background-color: rgb(0, 105, 157);

}

.dash-body {
  /* padding-top: 10px; */
  margin-top: 40px;
  /* background-color: #efefef; */
}

.dash-head {
  /* justify-content:left; */
  color: #3D9FEE;
  margin-left: 40px;
  top: 60px;
  position: fixed;
}

.drivers {
  display: flex;
  width: 60%;
  margin-left: 10px;
  /* background-color: antiquewhite; */
  /* background-color: rgb(188, 188, 188); */
  height: 200px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.tot-drivers{
  background-color:rgb(255, 243, 216);
  cursor: pointer;
}
.tot-drivers:hover{
  background-color:rgb(255, 238, 196);
}

.driver {
  /* background-color: #0081F4; */
  width: 25%;
  height: 90%;
  margin: 0 2%;
  padding: 2px;
  border-radius: 25px;
}
.driver h2 {
  text-align: left;
  margin: 10px 0 0 15px ;
  /* top: px; */
  /* margin-left: 3px; */
}


.driver h4 {
  margin-right: 10px;
  margin-top: 60px;
  text-align: end;
}

.table-div{ 
  margin: 100px auto;
  /* background-color: #0081F4; */
  width:fit-content;
  /* width: 80%; */
  /* scrollbar-color:rgb(189, 189, 189); */
  /* max-height: 50px; */
 }

.driver-table {
  /* background-color: #abb2b8; */
  /* width: 100%; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0 auto;
  height: 350px;
  height: 340px;
  overflow-y:auto;
  border-spacing: 5px;
  text-align: center;
  display:block;
  scrollbar-color: rgb(181, 181, 181) rgb(246, 246, 246);
}

thead {
  height: 40px;
  position: sticky;
  top: 0px;
  background-color: white;
}

th  {
  border-right:  #201f1f 1px solid ;
  border-spacing: 4px;
  padding: 0px 10px;
  
}
td {
  background-color: #D2E7FA;
  padding: 4px 10px;

  /* color: #c6ffc4; */
  /* color: #ff8567; */
}

.total-drivers {
  /* z-index: 5; */
  border-radius: 20px;
  /* text-align: center; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 65%;
  overflow: hidden;
  color: white;
  background-color: #0081F4;
}

.close-driver-list {
  margin:10px;
  float:right;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.close-driver-list :hover {
  background-color: #086dc5;
  border-radius: 50%;

}

.driver-list-table-div {
  width: 95%;
  padding-right: 10px;
  border-radius:20px;
  background-color: rgb(255, 255, 255);
  height: 70%;
  overflow: auto;
  margin: 30px auto;
}

.driver-list-table {
    background-color: #ffffff;
    width: 100%;
    table-layout: auto;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin:50px; */
    color: #201f1f;
    margin: auto;
    max-height: 80%;
    /* width: fit-content; */
    /* width: auto; */
    overflow-y:auto;
    overflow-x:hidden;
    border-spacing: 5px;
    text-align: center;
    display:block;
    scrollbar-color: rgb(181, 181, 181) rgb(246, 246, 246);
}

.driver-list-table th, .driver-list-table td {
  padding: 10px;
  min-width: 150px;
  width: calc(100% / 4);
  word-wrap: break-word;
  max-width: 22%;
}

.driver-search {
  margin: 20px ;
  border-radius: 15px;
  height: 25px;
  width: 25%;
  background-color: inherit;
  border: #888 1px solid;
  padding-left: 10px;
  color: #201f1f;



}