

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */



.logo {
  /* height: 6em; */
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */



/* .read-the-docs {
  color: #888;
} */

.dashboard {
  justify-content: center;
  height: 100vh;
  /* padding-bottom: 5vh; */
  /* font-size: 1rem; */
}

.dashboard-header {
  height: 80px;
  height: 9vh;
  /* width: 100%; */
  width: 99.vw;
  /* background-color: rgb(149, 151, 255); */
  background: linear-gradient(to bottom, #2f9eff, #fffbfb);
  background: linear-gradient(to bottom, #91cbff, #fffbfb);

  top: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  position:sticky;
  /* position: fixed; */
}

.logo {
  width:200px;
  width: 11%;
  height: 65%;
  /* margin-left: 40px; */
}


.user {
  margin-left: auto;
  margin-right: 5px;
  display: flex;
  flex-direction:row;
  /* width: 10%; */
  /* max-width: 15vw; */
  /* padding-left: 20px; */
  /* background-color: #D2E7FA; */
  align-items: center;
  justify-content: center;
}

.userName {
  /* margin-right: 30px; */
  font-size: larger;
  font-size: 1rem;
  color: black;
}

.footer {
  width: 60%;
  width: 60vw;
  height: 80px;
  height: 10vh;
  border-radius: 30px 30px 0 0;
  background-color: #0081F4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


.footer_icon {
  margin: 0 5%;
  cursor: pointer;
  width: 100px;
  border-radius: 10px;
}

.footer_icon:hover {
  background-color: rgb(0, 105, 157);

}

.dash-body {
  /* padding-top: 10px; */
  /* margin-top: 40px; */
  padding-bottom: 7%;
  /* background-color: #979595; */
}

.dash-head {
  color: #3D9FEE;
  margin-left: 40px;
  /* background-color: #888; */
  width: 20%;
  font-size: 1rem;
  top: 60px;
  position: fixed;
}

.drivers {
  display: flex;
  /* width: 60%; */
  width: 60vw;
  /* min-width: 60%; */
  max-width: 90vw;
  /* background-color: rgb(188, 188, 188); */
  /* height: 200px; */
  /* height: 25%; */
  /* height: 25vh; */
  /* min-height: 25%; */
  /* max-height: 30%; */
  height: 20vh;
  max-height: 30vh;
  align-items: center;
  justify-content: center;
  margin: 0% auto 0;
  font-size: 1rem;
}


.driver {
  width: 25%;
  min-width: 100px;
  min-height: 90%;
  max-height: 30vh;
  box-shadow: 20PX 20px 20px rgba(0, 0, 0, 0.2);
  margin: 0 20px;
  padding: 2px;
  border-radius: 25px;
  text-align: center;
  /* font-size: smale; */
  /* font-size: clamp(12px, 1.5vw, 18px); */

}

.driver h2 {
  text-align: left;
  margin: 10px 0 0 15px ;
  /* font-size: 2vw; */
  /* top: px; */
  /* margin-left: 3px; */
}


.driver h4 {
  margin-right: 10px;
  margin-top: 60px;
  margin-top:25%;
  text-align: end;
}

.tot-drivers{
  background-color:rgb(255, 243, 216);
  cursor: pointer;
}
.tot-drivers:hover{
  background-color:rgb(255, 238, 196);
}

.table-div{ 
  margin: 50px auto 0;
  /* background-color: #0081F4; */
  width:fit-content;
  /* width: 80%; */
  max-width: 90%;
  overflow: hidden;
  justify-content: center;
 }
 .table-div button {
  background-color: transparent;
  border: none;
 }

.driver-table {
  /* background-color: #abb2b8; */
  /* width: 100%; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0 auto;
  max-width: 100%;
  /* height: 340px; */
  max-height: 40vh;
  /* max-height: 50vh; */
  /* max-height: 15%; */
  overflow-y:auto;
  border-spacing: 5px;
  text-align: center;
  display:block;
  scrollbar-color: rgb(181, 181, 181) rgb(246, 246, 246);
  scrollbar-width: thin;
}

thead {
  height: 40px;
  position: sticky;
  margin-bottom: 3px;
  /* border-spacing: 0px; */
  top: 0px;
  background-color: white;
}

th  {
  border-right:  #201f1f 1px solid ;
  /* border-spacing: 4px; */
  padding: 0px 15px;
  
}
td {
  background-color: #D2E7FA;
  padding: 12px 10px;

  /* color: #c6ffc4; */
  /* color: #ff8567; */
}

.total-drivers {
  /* z-index: 5; */
  border-radius: 20px;
  /* text-align: center; */
  box-shadow: 100px 100px 0px 1000px rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 65%;
  overflow: hidden;
  color: white;
  background-color: #0081F4;
}

.close-driver-list {
  margin:10px;
  float:right;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.close-driver-list :hover {
  background-color: #086dc5;
  border-radius: 50%;

}

.driver-list-table-div {
  width: 95%;
  padding-right: 10px;
  border-radius:20px;
  background-color: rgb(255, 255, 255);
  height: 70%;
  overflow: auto;
  margin: 30px auto;
  /* background: rgba(69, 69, 69, 0.5); */
}

.driver-list-table {
    background-color: #ffffff;
    width: 100%;
    table-layout: auto;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin:50px; */
    color: #201f1f;
    margin: auto;
    max-height: 80%;
    /* width: fit-content; */
    /* width: auto; */
    overflow-y:auto;
    overflow-x:hidden;
    border-spacing: 5px;
    text-align: center;
    display:block;
    scrollbar-color: rgb(181, 181, 181) rgb(246, 246, 246);
}

.driver-list-table th, .driver-list-table td {
  padding: 10px;
  min-width: 150px;
  width: calc(100% / 4);
  /* word-wrap: break-word; */
  max-width: 22%;
}

.driver-search {
  margin: 20px ;
  border-radius: 15px;
  height: 25px;
  width: 25%;
  background-color: inherit;
  border: #888 1px solid;
  padding-left: 10px;
  color: #201f1f;
}
.driver-search:focus {
  outline: #086dc5 2px solid;
  border: none;
  color: #086dc5;
}

.driver-list-buttons-div {
  margin: 10px 20px;
  /* background-color: #888; */
  float: right;
}

.driver-list-buttons {
  width: 120px;
  cursor: pointer;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
  /* color: #086dc5; */
  font-size:x-large;
  /* font-size:xx-large; */
  border: none;
  border-radius: 20px;
  height: 40px;
}
.driver-list-buttons:hover {
  background-color: rgb(178, 195, 210);
  background-color: #086dc5;
  color: white;
}

.companies-table {
  /* background-color: #ccc; */
  /* table-layout: fixed; */
  font-size: large;
}

.companies-table th,
.companies-table td {
  padding: 0 60px;
}

.companies-table td{
  padding: 10px;
}

.admin-adding-button {
  font-size: "12px";
  background-color: #0080ff;
  color: white;
  width: 250px;
  height: 70px;
  padding: 5px;
  /* margin: 0 auto; */
  border-radius: 40px;
}

.base-actions-window {
  border-radius: 20px;
  /* box-shadow: 100px 100px 0px 1000px rgba(0, 0, 0, 0.2); */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 60%; */
  /* height: 60%; */
  width: 60vw;
  height: 70vh;
  overflow: hidden;
  color: white;
  background-color: #0081F4;
  overflow: auto;
}

.company-form-div {
  /* margin: 30px 0; */
  /* width: fit-content; */
  /* background-color: #b7bdc2; */
}

.company-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: #3D9FEE; */
}

.form-attr {
  margin: 10px 10px;
  /* background-color: #888; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 40%;
  width: 25vw;
}
.form-attr input {
  width: 95%;
  background-color: white;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin: 0 2%;
  padding-left: 5px ;
  color: #000000;
}
.form-attr label {
  margin: 0 2%;
}

.admin-confirm-adding-button {
  font-size: "12px";
  background-color: #ffffff;
  color: #000000;
  width: 250px;
  height: 70px;
  padding: 5px;
  margin: 20% auto 10px;
  border-radius: 40px;
}


